@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .from-1\% {
    --tw-gradient-from-position: 1%;
  }

  .primary-gradient-background {
    background: linear-gradient(140.3deg, #6633cc -15.9%, #f5c144 72.56%);
  }

  .text-primary-gradient-color {
    @apply bg-gradient-to-r from-primary from-1% to-secondary bg-clip-text text-transparent;
  }

  .text-primary-gradient-color-reverse {
    @apply bg-gradient-to-bl from-primary from-1% to-secondary bg-clip-text text-transparent;
  }

  .text-secondary-gradient-color-reverse {
    @apply bg-gradient-to-tl from-secondary from-1% to-primary bg-clip-text text-transparent;
  }
  .card-background-gradient{
    background: linear-gradient(288.92deg, rgba(74, 51, 148, 0.44) 5.97%, rgba(23, 16, 46, 0) 115.22%),
  linear-gradient(270deg, rgba(36, 26, 74, 0.15) 0%, rgba(36, 26, 74, 0) 95.92%);

  }

  .font-cabinet-light {
    font-family: var(--font-cabinet-light);
  }

  .font-cabinet-bold {
    font-family: var(--font-cabinet-bold);
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
 
  .headings {
    @apply text-center text-3xl lg:text-6xl text-primary-gradient-color w-fit mx-auto px-4 md:px-0;
  }
}
