@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .from-1\% {
    --tw-gradient-from-position: 1%;
  }

  .primary-gradient-background {
    background: linear-gradient(140.3deg, #6633cc -15.9%, #f5c144 72.56%);
  }

  .legacy-gradient-background {
    background: linear-gradient(116.3deg, #6633CC 3.83%, #110C24 78.88%);
  }

  .text-primary-gradient-color {
    @apply bg-gradient-to-r from-primary from-1% to-secondary bg-clip-text text-transparent;
  }

  .text-primary-gradient-color-reverse {
    @apply bg-gradient-to-bl from-primary from-1% to-secondary bg-clip-text text-transparent;
  }

  .text-secondary-gradient-color-reverse {
    @apply bg-gradient-to-tl from-secondary from-1% to-primary bg-clip-text text-transparent;
  }

  .font-cabinet-light {
    font-family: var(--font-cabinet-light);
  }

  .font-cabinet-bold {
    font-family: var(--font-cabinet-bold);
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .legacy-gradient{
    background: linear-gradient(180deg, rgba(17, 12, 36, 0.77) 0%, rgba(43, 24, 54, 0.77) 122.03%);

  }

  .headings {
    @apply text-center text-3xl lg:text-6xl text-primary-gradient-color w-fit mx-auto px-4 md:px-0;
  }

  .carousel-gradient{
    background: linear-gradient(270deg, #140E2B 100%, rgba(20, 14, 43, 0.15) -745.2%);
  }
  

}
