.background_container {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  background-image: url("./assets/images/new_404_desktop.svg");
  height: 100vh;
}

.muted_color {
  background-color: rgba(17, 12, 36, 0.6);
}

@media (max-width: 600px) {
  .background_container {
    background-image: url("./assets/images/new_404_phone.svg");
  }
}

@media (min-width: 601px) and (max-width: 1200px) {
  .background_container {
    background-image: url("./assets/images/tablet_404_2.svg");
  }
}