.background_container {
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.muted_color {
  background-color: rgba(17, 12, 36, 0.3);
}

@media (max-width: 3000px) {
  .background_container {
    background-image: url("./assets/images/new_404_image.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 135vh;

  }
}

@media screen and (max-width: 960px) {
  .background_container {
    background-image: url("./assets/images/new_phone_404.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 100vh;
  }
}

/* @media screen and (min-width: 961) and (max-width: 1200px) {
  .background_container {
    background-image: url("./assets/images/404_phone.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
  }
} */

@media (min-width: 1201) and (max-width: 1920px) {
  .background_container {
    background-image: url("./assets/images/404_ipad.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
  }
}